.App {
	text-align: center;
	margin: 10dp;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header li a {
  color: #FFF;
  background-color: #000;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

ul.header li a.active {
	background-color: #666;
}

ul.header li a:hover {
	background-color: #888;
}

